$secondary-color: #f2bb00;
$primary-color: #00293f;
$button-text-color: #ffffff;
$text-color: #000000;
$primary-button-background: $primary-color;
$hover-primary-button-background: #011f2f;
$secondary-button-background: $secondary-color;
$hover-secondary-button-background: #ddaa04; 
$border-radius: 10px;
$error-color: red;
